@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;

    font-family: "Nunito", sans-serif;
    color: white;
}

:root{
    --cor1: #292e33;
    --cor2: #344757;
    --cor3: #0084f0;
    --cor4: #37658a;
    --cor5: #2679bd;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: var(--cor2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor4);
    border-radius: 4px;
}

body{
    /* width: 100vw; */
    /* height: 100vh; */

    background-color: var(--cor1);
}